<ion-view view-title="About">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh local storage status"
      on-refresh="reloadLocalStorageStatus()">
    </ion-refresher>
    <ion-list>
      <div class="row">
        <div class="col col-100">
          <div class="item item-divider">
            <h2 align="center">App Information</h2>
          </div>
          <div class="item item-text-wrap">
            <div ng-repeat="(key,value) in data.appInfo">
              <h2>{{ key }}</h2>
              <p>{{ data.appInfo[key] }}</p>
            </div>
            <h2>Local Storage Information</h2>
            <p>Synced : {{ data.appStorageStatus.synced.value }} Not synced : {{ data.appStorageStatus.unSynced.value }}</p>
          </div>
          <div class="item item-divider">
            <h2 align="center">Server Information</h2>
          </div>
          <div class="item item-text-wrap">
            <div ng-repeat="(key,value) in data.systemInfo" ng-if = "key != 'userAgent'">
              <h2>{{ getSystemInfoName(key) }}</h2>
              <div ng-if = "key == 'databaseInfo'">
                <p ng-repeat = "(k,v) in data.systemInfo[key]">{{ getSystemInfoName(k)  }} : {{ v }}</p>
              </div>
              <p ng-if = "key != 'databaseInfo'">{{ value }}</p>
            </div>
          </div>

        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
