<ion-view view-title="About">
  <ion-content>
    <ion-list>
      <div class="row">
        <div class="col col-100">
          <div class="item item-divider">
            <h2 align="center">App Information</h2>
          </div>
          <div class="item item-text-wrap">
            <div ng-repeat="(key,value) in data.appInfo">
              <h2>{{ key }}</h2>
              <p>{{ data.appInfo[key] }}</p>
            </div>
          </div>
          <div class="item item-divider">
            <h2 align="center">Server Information</h2>
          </div>
          <div class="item item-text-wrap">
            <div ng-repeat="(key,value) in data.systemInfo" ng-if = "key != 'userAgent'">
              <h2>{{ key }}</h2>
              <div ng-if = "key == 'databaseInfo'">
                <p ng-repeat = "(k,v) in data.systemInfo[key]">{{ k  }} : {{ data.systemInfo[key][k]}}</p>
              </div>
              <p ng-if = "key != 'databaseInfo'">{{ value }}</p>
            </div>
          </div>

        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
