<ion-view view-title="Data Entry">
  <ion-content>

    <div class="row">
      <div class="col col-100">
        <button class="button " ng-click="openModal('Organisation Unit')">Select Organisation Unit</button>
      </div>
    </div>

    <div class="row">
      <div class="col col-100">
        <div class="card">
          <div class="item item-text-wrap">

            <div>
              <b>Organisation Unit</b>
              <div class="item">
                {{ data.orgUnit.name }}
              </div>
            </div>
            <div style="padding-top: 1%;">
              <b>Data Entry Form</b>
              <div class="item item-input item-select" >
                <div class="input-label" >
                </div>
                <select disabled ng-if = "!data.orgUnitId && $scope.data.dataSets.length == 0" ng-model="data.dataSetId">
                  <option value="">Choose Form</option>
                </select>
                  <select ng-if = "data.orgUnitId"   ng-model="data.dataSetId">
                  <option value="">Choose Form</option>
                  <option ng-repeat="dataSet in data.dataSets" value="{{ dataSet.id }}">{{ dataSet.name }}</option>
                </select>
              </div>
            </div>
            <div>

            <div class="row" ng-click="openModal('Period')" style="padding-top: 1%;">
              <div class="col col-90">
                <b>Period</b> :
                <span ng-if = "data.period"></span>{{ data.period }}
                <span ng-if = "! data.period">Click to select Period</span>
              </div>
              <div class="col col-10">
                <i class="icon ion-calendar"></i>
              </div>
            </div>
            </div>

          </div>
        </div>

        <div class="card" ng-if="data.formSelectVisibility" >
          <div class="item item-text-wrap">
            <h2>{{ data.selectedData.dataSet.name}}</h2>
            <p>Organisation Unit : {{data.selectedData.orgUnit.name}}</p>
            <p>Period : {{ data.selectedData.period }}</p>
            <p>Number Of Fields : {{ data.selectedData.numberOfFields}}</p>

          </div>
        </div>

      </div>
    </div>

    <div class="row" ng-if="data.formSelectVisibility">
      <div class="col col-33">
        <button class="button button-full button-positive" ng-click="generateDefaultDataEntryForm()">Default</button>
      </div>
      <div class="col col-33">
        <button class="button button-full button-positive" ng-click="generateSectionDataEntryForm()">Section</button>
      </div>
      <div class="col col-33">
        <button class="button button-full button-positive" ng-click="generateCustomDataEntryForm()">Custom</button>
      </div>
    </div>

    <div class="row" ng-if = "data.loading" style="text-align: center;font-size: 14px;">
      <div class="col col-100">
        <ion-spinner icon="ios"></ion-spinner>
      </div>
    </div>
  </ion-content>
</ion-view>
