<ion-modal-view>
  <ion-header-bar>
    <h1 class="title" >
      Data Reset Confirmation
    </h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="close()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>

    <div class="row">
      <div class="col col-100">
        <div class="item item-text-wrap">

          <p ng-if = "data.resetDataOption=='dataEntryValues'" style="color:#f44336;">
            Are sure you want to delete all data entry values on this device
          </p>
          <p>
            <span ng-if = "data.resetDataOption=='allData'" style="color:#f44336;">
              Are sure you want to Remove Currently stored Offline data?
            </span>
            <span style="color:#2979ff;">Note: Only offline data on device will be removed, make sure you sync any important offline data before resetting</span>
          </p>
          <div class="row">
            <div class="col col-50">
              <button class="button button-balanced button-full" ng-click="close()">No</button>
            </div>
            <div class="col col-50">
              <button class="button button-full button-assertive" ng-click="confirmDataReset()">yes</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-modal-view>
