<ion-nav-view >
  <ion-view class="appBackground">
    <ion-content>
      <div class="row">
        <div class="col col-20"></div>
        <div class="col col-60" style="margin-top:10%;text-align: center;">
          <img width="80%" ng-src="img/dhis2-logo.png">
        </div>
        <div class="col col-20"></div>
      </div>
      <div class="row">
        <div class="col col 100" style="text-align: center;margin-bottom:5%;">
          <p class="slogan">Routine and survey data on your pocket</p>
        </div>
      </div>


      <div class="row" ng-if = "! data.loading" >
        <div class="col col-12">
          <form ng-submit="login()">
            <label class="item item-input">
              <i class="icon ion-earth placeholder-icon"></i>
              <input type="text" placeholder="Enter Server URL" ng-model="data.baseUrl">
            </label>
            <label class="item item-input">
              <i class="icon ion-person placeholder-icon"></i>
              <input type="text" placeholder="Username" ng-model="data.username">
            </label>
            <label class="item item-input">
              <i class="icon ion-locked placeholder-icon"></i>
              <input type="password" placeholder="Password" ng-model="data.password">
            </label>
            <button type="submit" class="button button-full button-positive">
              Login
            </button>
          </form>
        </div>
      </div>

      <div class="row" ng-if = "data.loading" style="text-align:  center;">
        <div class="col col-100">
          <div class="loginLoader">
            <three-bounce-spinner></three-bounce-spinner>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col col 100" style="text-align: center;margin-bottom:5%;">
          <p class="appPromo">Powered by Hisptz</p>
        </div>
      </div>


    </ion-content>
  </ion-view>
</ion-nav-view>
