<ion-modal-view>
  <ion-header-bar>
    <h1 class="title" >
      Select {{ data.modalType }}
    </h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="close()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="row" ng-if="data.modalType == 'Organisation Unit'">
      <div class="col col-100">
        <div treecontrol class="tree-classic" tree-model="dataForTheTree" options="treeOptions" on-selection="showSelected(node)" selected-node="node1">
          {{node.name}}
        </div>
      </div>
    </div>

    <div ng-if="data.modalType == 'Period'">
      <div class="row">
        <div class="col col-50">
          <button class="button button-full button-positive" ng-click="changePeriodInterval('previous')">Previous</button>
        </div>
        <div class="col col-50">
          <button class="button button-full button-positive" ng-click="changePeriodInterval('next')">Next</button>
        </div>
      </div>
      <div class="row" >
        <div class="col col-100">
          <ion-list>
            <ion-radio ng-click="periodSelect()" ng-model="data.period" ng-repeat="period in data.periodOption" ng-value="'{{period.year}}'">{{period.year}}</ion-radio>
          </ion-list>
        </div>
      </div>
    </div>

  </ion-content>
</ion-modal-view>
