<ion-view view-title="Profile">
  <ion-content>
    <div class="row">
      <div class="col col-100">
        <div class="item item-divider">
          <h2 align="center">My Profile</h2>
        </div>
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col col-100">
              <div class="list">
                <div style="text-transform: capitalize;" class="item" ng-repeat="(key,value) in data.user"
                     ng-if="key == 'name'|| key =='birthday'|| key =='education'|| key =='jobTitle'|| key =='employer'|| key =='employer'|| key =='languages'|| key =='phoneNumber'|| key =='nationality' ">
                  <h2>{{ key }}</h2>
                  <p ng-if="key == 'birthday'">
                    {{ data.user[key] | date:'d MMMM yyyy'}}
                  </p>
                  <p ng-if="key != 'birthday'">
                    {{ data.user[key] }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="item item-divider">
          Assigned Organisation Units
        </div>
        <div class="item item-text-wrap">
          <span ng-if="getUserAssignedOrgUnits().length == 0">
            There is no Organisation unit  assigned to you
          </span>
          <div ng-repeat="orgUnit in getUserAssignedOrgUnits()">{{ $index + 1}}.&nbsp;{{ orgUnit }}</div>
        </div>

        <div class="item item-divider">
          Assigned Roles
        </div>
        <div class="item item-text-wrap">
          <span ng-if="getUserRoles().length == 0">
            There is no role assigned to you
          </span>
          <div ng-repeat="role in getUserRoles()">{{ $index + 1}}.&nbsp;{{ role }}</div>
        </div>

        <div class="item item-divider">
          Assigned Forms
        </div>
        <div class="item item-text-wrap">
          <span ng-if="getUserAssignedForms().length == 0">
            There is no form assigned to you
          </span>
          <div ng-repeat="form in getUserAssignedForms()">{{ $index + 1}}.&nbsp;{{ form.name }}</div>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
