<ion-view view-title="Reports">
  <ion-content>

    <div class="row" ng-if = "data.loading" style="text-align: center;font-size: 14px;">
      <div class="col col-100">
        <ion-spinner icon="ios"></ion-spinner>
      </div>
    </div>

    <div ng-if = "!data.loading">
      <div class="row" >
        <div class="col col-100">
          <label class="item item-input">
            <i class="icon ion-ios-search-strong placeholder-icon"></i>
            <input ng-model="search" type="search" placeholder="Filter by report title">
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col col-100">
          <button ng-if = "!data.reports" class="button button-full button-positive" ng-click="reloadReports()">Reload reports</button>
          <div class="list" ng-if = "data.reports">
            <div class="item" ng-repeat="report in data.reports | filter: search" ng-click="selectReport(report.id)">
              <h2>{{ report.name }}</h2>
              <p>Created : {{report.created  | date:'d MMMM yyyy'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
