<ion-view view-title="">
  <ion-content>
    <div class="row">
      <div class="col col-100">
        <div class="card">
          <div class="item item-divider">
            <h2 align="center">{{ data.selectedReport.name }} Report</h2>
          </div>
          <div class="item item-text-wrap">

            <div class="row">
              <div class="col col-100">
                <button class="button " ng-click="openModal('Organisation Unit')">Select Organisation Unit</button>
              </div>
            </div>

            <div ng-click="openModal('Organisation Unit')" ng-if = "data.selectedReport.reportParams.paramOrganisationUnit">
              <b>Organisation Unit</b>
              <div class="item">
                {{ data.orgUnit.name }}
              </div>
            </div>

            <div class="row" ng-click="openModal('Period')" style="padding-top: 1%;" ng-if = "data.selectedReport.reportParams.paramReportingPeriod">
              <div class="col col-90">
                <b>Period</b> :
                <span ng-if = "data.period"></span>{{ data.period }}
                <span ng-if = "! data.period">Click to select Period</span>
              </div>
              <div class="col col-10">
                <i class="icon ion-calendar"></i>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col col-100">
              Still under development
            </div>
          </div>

        </div>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
