<ion-view view-title="">
  <ion-content>
    <div class="row">
      <div class="col col-100">
        <div class="">
          <div class="item item-divider">
            <h2 align="center">{{ data.selectedReport.name }} Report</h2>
          </div>
          <div class="item item-text-wrap">
            <div ng-if = "data.selectedReport.reportParams.paramOrganisationUnit">
              <div class="row" >
                <div class="col col-100">
                  <b>Organisation Unit</b>
                  <multi-select-tree data-input-model="data.orgUnits" multi-select="false"
                                     data-output-model="data.orgUnit"
                                     data-default-label="Click here to Select Organisation Unit"
                                     data-callback = "selectOnly1Or2(item, selectedItems)">
                  </multi-select-tree>
                </div>
              </div>
            </div>
            <div class="row" ng-click="openModal('Period')" style="padding-top: 1%;">
              <div class="col col-90">
                <b>Period</b> :
                <span ng-if = "data.period"></span>{{ getPeriodDisplayValue(data.period) }}
                <span ng-if = "! data.period">Click to select Period</span>
              </div>
              <div class="col col-10">
                <i class="icon ion-calendar"></i>
              </div>
            </div>
            <div class="row">
              <div class="col col-100">
                <button class="button button-full button-positive" ng-click="generateReport('withParameter')">Generate Report</button>
              </div>
            </div>
          </div>





        </div>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
