<ion-view view-title="Setting">
  <ion-content>
    <div class="row">
      <div class="col col-100">

          <div class="item item-divider">
            Synchronization setting
          </div>
          <div class="item item-text-wrap">
            <div class="list">
              <div class="item">
                <h2>Synchronization Preference</h2>
                <ion-radio name ="synchronizationPreference" ng-model="data.synchronization.preference" ng-value="'online'">Online Data</ion-radio>
                <ion-radio name ="synchronizationPreference" ng-model="data.synchronization.preference" ng-value="'mobile'">Mobile data</ion-radio>
                <ion-radio name ="synchronizationPreference" ng-model="data.synchronization.preference" ng-value="'options'">Give Options</ion-radio>
              </div>
              <div class="item">
                <h2>Synchronization time</h2>

                  <label class="item item-input">
                    <i class="icon ion-clock placeholder-icon"></i>
                    <input type="number" min="1" ng-model="data.synchronization.time.value">
                  </label>
                <ion-radio name ="synchronizationTime" ng-model="data.synchronization.time.type" ng-value="'seconds'">Second(s)</ion-radio>
                <ion-radio name ="synchronizationTime" ng-model="data.synchronization.time.type" ng-value="'minutes'">Minute(S)</ion-radio>
                <ion-radio name ="synchronizationTime" ng-model="data.synchronization.time.type" ng-value="'hours'">Hour(s)</ion-radio>
              </div>
            </div>
          </div>

        <div class="item item-divider">
          Form Label or Question title setting
        </div>
        <div class="item item-text-wrap">
          <div class="list">
            <div class="item">
              <h2>Label or Question title display</h2>
              <ion-radio name ="formLabelPreference" ng-model="data.formLabelPreference.label" ng-value="'formName'">By Dhis 2 form name</ion-radio>
              <ion-radio name ="formLabelPreference" ng-model="data.formLabelPreference.label" ng-value="'displayName'">By Dhis 2 display name</ion-radio>
            </div>
          </div>
        </div>

          <div class="item item-divider">
            Default form setting
          </div>
          <div class="item item-text-wrap">
            <div class="list">
              <div class="item">
                <h2>sorting order</h2>
                <ion-radio name ="defaultFormSorting" ng-model="data.defaultForm.sorting" ng-value="'name'">By Name</ion-radio>
                <ion-radio name ="defaultFormSorting" ng-model="data.defaultForm.sorting" ng-value="'dateCreated'">By Date Created</ion-radio>
              </div>
            </div>
          </div>
        <div class="item item-divider">
          Data reset
        </div>
        <div class="item item-text-wrap">
          <button class="button button-full button-assertive" ng-click="resetDataButtonActionConfirmation('dataEntryValues')">Reset Data Entry values</button>
          <button class="button button-full button-assertive" ng-click="resetDataButtonActionConfirmation('allData')">Reset All Data</button>
        </div>

      </div>
    </div>

    <div class="row" ng-if = "data.loading" style="text-align: center;font-size: 14px;">
      <div class="col col-100">
        <ion-spinner icon="ios"></ion-spinner>
      </div>
    </div>
  </ion-content>
</ion-view>
