<ion-view view-title="Tracker Capture">
  <ion-content>
    <div class="row">
      <div class="col col-100">
        <div class="item item-divider">
          <h2 align="center">Tracker Capture</h2>
        </div>
        <div class="item item-text-wrap">

          <div class="row" >
            <div class="col col-100">
              <b>Organisation Unit</b>
              <multi-select-tree data-input-model="data.orgUnits" multi-select="false"
                                 data-output-model="data.orgUnit"
                                 data-default-label="Touch here to Select Organisation Unit"
                                 data-callback = "selectOnly1Or2(item, selectedItems)">
              </multi-select-tree>
            </div>
          </div>

          <br>

          Tracker capture coming !!!<br>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
