<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.hipstz.dhis2.dhis2touch" version="0.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>DHIS 2 Touch</name>
  <description>
    An Ionic Framework and Cordova project for Mobile app for DHIS 2, data entry and reports generations
  </description>
  <author email="profschingalo@gmail.com" href="https://demo-josephsite.rhcloud.com/">
    Joseph Chingalo
  </author>
  <content src="index.html"/>
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="default"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="false"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="true"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-installLocation" value="auto"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="android-minSdkVersion" value="15"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <feature name="http://api.phonegap.com/1.0/network"/>
  <plugin name="io.litehelpers.cordova.sqlitestorage" spec="0.7.5" source="pgb"/>
  <plugin name="cordova-plugin-whitelist" version="~1"/>
  <plugin name="cordova-plugin-whitelist" spec="~1"/>
  <gap:plugin name="org.apache.cordova.battery-status" source="pgb"/>
  <gap:plugin name="org.apache.cordova.network-information" source="pgb"/>
  <gap:plugin name="cordova-plugin-whitelist" source="npm" version="~1"/>
  <access origin="http://*"/>
  <allow-navigation href="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
    <icon src="resources/android/icon/drawable-ldpi-icon.png" density="ldpi"/>
    <icon src="resources/android/icon/drawable-mdpi-icon.png" density="mdpi"/>
    <icon src="resources/android/icon/drawable-hdpi-icon.png" density="hdpi"/>
    <icon src="resources/android/icon/drawable-xhdpi-icon.png" density="xhdpi"/>
    <icon src="resources/android/icon/drawable-xxhdpi-icon.png" density="xxhdpi"/>
    <icon src="resources/android/icon/drawable-xxxhdpi-icon.png" density="xxxhdpi"/>
    <splash src="resources/android/splash/drawable-land-ldpi-screen.png" density="land-ldpi"/>
    <splash src="resources/android/splash/drawable-port-ldpi-screen.png" density="port-ldpi"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
  <platform name="winphone"/>
  <icon src="resources/android/icon/drawable-xhdpi-icon.png"/>
</widget>
