/* Empty. Add your own CSS if you like */
.tooltip{
  font-size: 24px;
  font-family: "Ionicons";
}
span.arrow{
  font-size:250%;
  margin-right: 5%;
  padding: 5%;
}
.tree-control .tree-view ul .item-details{
  /*font-size:100%;*/
  margin-top: -20px;
}
.appBackground{
  background-color : #1D5288;
}
.slogan{
  font-style: italic;
  color:#82b1ff ;
}
.appPromo{
  font-style: italic;
  color:#ffffff;
  margin-top: 10%;
}
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.loginLoader{
  width: 80%;
  margin:auto;
  min-height: 200px;
  background: white;
  border-radius: 5px;
  padding:2%;
}
.three-bounce-spinner{
  margin: 20px auto 0;
}
.tooltipSize {
  padding: 10px;
}
.paginationScroll{
  height:400px;
  overflow:auto;
}
.tree-control .tree-view .line {
  max-height: 0px;
}
.pagination{
  background-color : #C3D8FD;
}
.dataSetCompleteness {
  background-color : #DCF1DC;
}
