/* Empty. Add your own CSS if you like */
.tooltip{
  font-size: 24px;
  font-family: "Ionicons";
}
span.arrow{
  font-size:250%;
  margin-right: 5%;
  padding: 5%;
}
.tree-control .tree-view ul .item-details{
  /*font-size:100%;*/
  margin-top: -20px;
}
